body {
	padding-top: 50px;
}
.frame {
	padding: 40px 15px;
}
.manage {
	margin-left: 0;
	margin-right: 0;
	background-color: #fff;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px 4px 4px 4px;
	box-shadow: none;
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
	border-style: solid;
}
.manage:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.post:after {
	content: "post";
}
.write:after {
	content: "write";
}
.edit:after {
	content: "edit";
}
.details {
	margin-top: -16px;
	margin-left: 0;
	margin-right: 0;
	margin: -15px -15px 15px;
	padding: 9px 14px;
	background-color: #fff;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	border-radius: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-color: #fff;
}
.preview {
	background-color: #fff;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px 4px 4px 4px;
	box-shadow: none;
	position: relative;
	padding: 15px 15px 15px;
	margin-top: 15px;
	border-style: solid;
}
