<div class="modal fade in" id="errorAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="alert alert-danger">
      <h4>Error</h4>
      <p id="error">Something bad happend!</p>
    </div>
  </div>
</div>

<div class="modal fade in" id="successAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="alert alert-success">
      <h4>Success</h4>
      <p>Good job!</p>
      <p>
        <a type="button" class="btn btn-success" href="/">Back home</a>
      </p>
    </div>
  </div>
</div>